<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="products">
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <a [routerLink]="[product.id]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="[product.id, 'edit']">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>{{productTotal}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>