<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body"
       *ngIf="vm$ | async as vm">
    <div class="list-group">
      <button type="button"
              class="list-group-item"
              *ngFor="let product of vm.products"
              [ngClass]="{ active: product?.id === vm.productId }"
              (click)="onSelected(product.id)">
        {{ product.productName }} ({{ product.category }})
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>