<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/welcome']"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/products']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/products/alternate']"
         routerLinkActive="active">Product List (Alternate UI)</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>